<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Account</title>

    <link rel="stylesheet"
          type="text/css"
          href="../../static/papers/myStyle.css"/>

</head>
<body>
<header>

    <li class="logo"><a href="/home/"> </a></li>

</header>

<nav>
    <ul id="nav">
        <li><a href="/publications/">publications</a></li>
        <li><a href="/staff/">our staff</a></li>
        <!--displays option to submit a paper only if user is in researcher group-->
        {% if is_researcher %}
            <li><a href="/researcher_account/">Your Account</a></li> {% endif %}
        <!--displays option to load reviewer account only if user is in reviewer group-->
        {% if is_reviewer %}
            <li><a href="/reviewer_account/">Your Account</a></li> {% endif %}
        <!--displays option to load editor account only if user is in editor group-->
        {% if is_editor %}
            <li><a href="/editor_account/">Your Account</a></li> {% endif %}

    </ul>

</nav>

<section>
    <div class="content" style="color: #2067ff;">
        <a style="font-size: small; text-transform: none" href="..">Back</a>
    </div></section>

<div style="width: 15%">

    <nav class="sidebar">
        <ul id="sidebar">
            <li class="list"><a href="/editor_account/editor_papers/">View Journal Submissions</a></li>
            <li class="list"><a style="font-size: small; text-transform: none" href="/logout/">Sign Out</a></li>
        </ul>
    </nav>
</div>

<div style="width: 85%" class="account-info">
    <div class="content">
        <h1>Make changes to {{ paper.paper_title }} </h1>


        <p> Author: {{ paper.paper_author.first_name }} {{ paper.paper_author.last_name }}</p>

        <p> Author's preferred reviewers:</p>
        {% for rev in sug_revs %}
            <p> {{ rev | title }} </p>
        {% endfor %}

        {% if messages %}
        {% for msg in messages %}
            <p style = "color:green;"> {{msg}} </p>
        {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>
                <li class="list"> Reviewer 1: {{ form.reviewer_1}}</li>
                <li class="list"> Reviewer 2: {{ form.reviewer_2}}</li>
                <li class="list"> Reviewer 3: {{ form.reviewer_3 }}</li>
                <li class="list"> Paper Status: {{ form.paper_status}}</li>
                <li class="list">
                    <button type="submit">Update</button>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>


